@page "/Settings"
@model Disaster_App.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="text-center">
    <h1 style="color: orange; background-color: black" class="display-4">Settings</h1>
</div>
